*/temp*
*/*/temp*
temp?
/Component
!/Component/audio-core-entities
!/Component/id3
/Console
/Devops
/vendor
/App/angular7-demo/
/App/node_tests/
/App/semantic-ui/
/App/Aws/
/App/python/
/App/angular8/
/App/ReleaseDispatcherUi/
/App/symfony-demo/
/App/NodeFolderApi/
