{
    "source": {
        "directories": [
            "Entity",
            "Repository"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "@function_signature": false,
        "MethodCallRemoval": false,
        "This": false
    },
    "testFramework":"phpunit",
    "initialTestsPhpOptions": "-d zend_extension=xdebug.so",
    "bootstrap": "./Tests/autoload.php"
}