/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-size: 1.1vw;
}

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  //grid-template-rows: repeat(4, auto);
}

app-root {
  grid-column: 1 / -1;
  color: blue;
}


